<h2>Title of the Task: <%= @task.title %></h2>
<p>Description: <%= @task.details %></p>
<p>Completed: <%= @task.completed %></p>

<%= link_to "Delete #{@task.title}",
task_path(@task),
method: :delete,
data: { confirm: "Are you sure?"} %>

<br>
<br>
<button><%= link_to 'Back to Tasks', tasks_path %></button>
